---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'collectif citoyen pour une véritable assurance santé',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Vers la pétition',
        href: '/docs/Pétition_JU.pdf',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Nouveautés', href: '/blog' },
    ]}
    image={{ src: '~/assets/images/logo_carré1.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Collectif citoyen pour une véritable assurance santé
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold"/span> L’augmentation des primes d’assurance maladie n’est plus tenable. C’est l’affaire de toutes et tous !  </span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
Nous demandons que les autorités politiques formulent des solutions concrètes pour limiter
l’explosion des primes d’assurance maladie 
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="infos"
    tagline=""
    title="Nos actions"
    subtitle="Nous souhaitons un changement de système au profit de la population."
    items={[
      {
        title: 'Un collectif',
        description:
          'Nous sommes un collectif citoyen avec pour l`instant des membres majoritairement du canton du Jura',
           icon: 'tabler:rocket',
      },
      {
        title: 'Une pétition',
        description:
          'Nous avons lancé le 01.12.2023 une pétition à l`attention du parlement jurassien.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Un réseau',
        description:
          'Nous constituons un réseau de membres actifs et engagés sur la thématique',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Des idées',
        description:
          'Nous favorisons les échanges et la transmissions d`informations et d`idées servant à améliorer le système de santé suisse.',
        icon: 'tabler:bulb',
      },
    ]}
  />


  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'La pétition en ligne',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:link',
      },
    ]}
  >
    <Fragment slot="title">
      Signe la pétition en ligne </span>
    </Fragment>

    <Fragment slot="subtitle">
      Nous avons également une version en ligne de la pétition
    </Fragment>
  </CallToAction>
</Layout>
